*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body
{
    background: linear-gradient(0deg, rgba(14, 9, 14, 0.7), rgba(17, 6, 17, 0.7)), url("user_interface.jpg") no-repeat;
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
    color: white;
    font-family: sans-serif;
}

.ProjectName{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);;
    margin-top: 50px;
    padding: 10px;
    display: block;
    background-color: rgba(27, 19, 27, 0.8);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.header
{
    
    font-style: italic;
    font-size: 60px;
    padding-bottom: 10px;
}

.HeadingBox
{
    display: block;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 30px;
    margin-left: 65%;
    color: rgb(17, 16, 16);
    font-style: italic;
    text-transform: uppercase;
    background-color: rgba(224, 213, 224, 0.2);
    box-shadow: 0 4px 8px 0 rgba(43, 38, 43, 0.8);
    height: fit-content;
}


.OurProgress
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);;
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(27, 19, 27, 0.8);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}



.header1
{
    font-style: italic;
    font-size: 35px;
    padding-bottom: 10px;
    color: white;
}

/*.ProgressHeader
{
    font-style: italic;
    font-size: 55px;
    padding-bottom: 10px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
}*/

.content1
{
    padding: 30px;
    font-style: italic;
    font-size: 25px;
    color:  rgba(238, 228, 228, 0.8);
}
.rep:link, .rep:visited{
    background-color: grey;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 45%;
    
}

.rep:hover, .rep:active{
    background-color: khaki;
    color: black;
}
/*.Picture
{
    display: block;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 30px;
    color: black;
    font-style: italic;
    text-transform: uppercase;
    background-color: rgba(224, 213, 224, 0.2);
    box-shadow: 0 4px 8px 0 rgba(53, 8, 53, 0.8);
}*/




.btn 
{
    font-style: italic;
    font-size: 55px;
    padding-bottom: 10px;
    padding-left: 30px;
   
    text-decoration: none;
    
    margin-top: 20px;
    border: transparent;
    padding: 10px 20px;
    color: white;

}
.btn:hover
{
    border: 1px solid white;
    
    transition: 0.8s ease;
}

@media screen and (max-width: 1500)
{
    .content1
    {
        font-size: 15px;
    }
}