*{
	margin: 0;
	padding: 0;
	user-select: none;
}

body
{
	background: linear-gradient(0deg, rgba(70, 30, 70, 0.7), rgba(70, 30, 70, 0.7)), url("matrix.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    	color: white;
    	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.FinalDefence{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);;
	margin-top: 50px;
	padding: 10px;
	display: block;
	background-color: rgba(27, 19, 27, 0.8);
	margin-bottom: 30px;
}
.Final_def_header{
	font-size: 50px;
	padding-bottom: 10px;
}

.Box{
	display: block;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	margin-right: 45%;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: rgb(17, 16, 16);
	text-transform: uppercase;
	background-color: rgba(224, 213, 224, 0.2);
	box-shadow: 0 4px 8px 0 rgba(43, 38, 43, 0.8);
	height: fit-content;
	
}

.Box1
{
	display: block;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	margin-left: 40%;
	margin-right: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: rgb(17, 16, 16);
	text-transform: uppercase;
	background-color: rgba(224, 213, 224, 0.2);
	box-shadow: 0 4px 8px 0 rgba(43, 38, 43, 0.8);
	height: fit-content;
}

.Box_header
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: rgb(17, 16, 16);
	text-transform: uppercase;
	background-color: rgba(224, 213, 224, 0.2);
	box-shadow: 0 4px 8px 0 rgba(43, 38, 43, 0.8);
	height: fit-content;
}

.OurProgress
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);;
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(27, 19, 27, 0.8);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}

.img2
{
	display: block;
	margin-right: 20px;
	height: 50%;
	width: 90%;
	padding-bottom: 30px;	
	margin-left: 40px;
	
}

.img1
{
	display: block;
	margin-right: 20px;
	height: 50%;
	width: 90%;
	padding-bottom: 30px;

}

.header1
{
	color: bisque;	
    	font-style: oblique;
    	font-size: 40px;
    	padding-bottom: 10px;
    
}
.content1
{
	font-style: oblique;
	font-size: 20px;
	color:  rgba(238, 228, 228, 0.8);
	padding-bottom: 20px;	
	
}

.btn 
{
    font-style: italic;
    font-size: 55px;
    padding-bottom: 10px;
    padding-left: 30px;
   
    text-decoration: none;
    
    margin-top: 20px;
    border: transparent;
    padding: 10px 20px;
    color: white;

}
.btn:hover
{
    border: 1px solid white;
    
    transition: 0.8s ease;
}
